<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

    <h1>Bem-vindo a página animes!</h1>
    <hr>
    <h2>Lista de animes:</h2>
    <%#= animes %>

    <!-- Percorrendo a lista de produtos com forEach-->
     <ul>
        <% animes.forEach(anime => { %>
            <li> <%= anime.nome %> </li>
            <li> <%= anime.preco.toLocaleString("pt-br",
             {style: "currency", currency: "BRL"}) %> </li>
             <img src="<%= anime.img %>" alt="<%= anime.nome %>" width="1000">
            <br>
        <% }) %>
     </ul>

    <br><br>
    <ul>
        <li><a href="/">Voltar</a></li>
    </ul>

<%- include ('partials/footer.ejs') %>