<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

            <!-- FOREACH -->
             <% filmes.forEach(filme => { %>
                <ul>
                    <li><%= filme.nome %></li>
                    <li><%= filme.cpf %></li>
                    <img src="<%= filme.img %>" alt="<%= filme.nome %>">
                    <li><%= filme.endereco %></li>
                </ul>
            <% }) %>

    <ul>
        <li><a href="/">Voltar</a></li>
    </ul>

<%- include ('partials/footer.ejs') %>