<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

    
            <!-- FOREACH -->
             <% series.forEach(serie => { %>
                <ul>
                    <li><%= serie.nome %></li>
                    <li><%= serie.produto %></li>
                    <img src="<%= serie.img %>" alt="<%= serie.nome %>">
                    <li><%= serie.valorDoPedido %></li>
                </ul>
            <% }) %>
        
    


    <ul>
        <li><a href="/">Voltar</a></li>
    </ul>

<%- include ('partials/footer.ejs') %>